@using PhotoApp.Utils
@model PhotoApp.Utils.Models.TreeviewViewModel

@section Scripts{

    <script type="text/javascript">
        $(function () {
            $('.tree li:has(ul)').addClass('parent_li');
            $('.tree li.parent_li > span').on('click', function (e) {
                var children = $(this).parent('li.parent_li').find(' > ul > li');
                if (children.is(":visible")) {
                    children.hide('fast');
                    $(this).find(' > i').addClass('fa-plus-square').removeClass('fa-minus-square');
                } else {
                    children.show('fast');
                    $(this).find(' > i').addClass('fa-minus-square').removeClass('fa-plus-square');
                }
            });
        });

        $(document).ready(function () {
/*            $('#folders').treeview({ collapsed: true });*/

            $(".leaf").click(function () {
                $.ajax({
                    url: '@Url.Action("GetPhotosFromAlbum","Treeview")',
                    data: { id: $(this).attr("id") },
                    type: 'GET',
                    success: function (data) {

                    }
                });
            });
        });

    </script>
}

<div class="tree">
    <ul id="folders">
        <li>
            <span><i class="fa fa-folder-open"></i>@Model.AlbumsFolders.Header</span>
            <ul>
                <li>
                    @{
                        TreeView(Model.AlbumsFolders.Children);
                    }
                </li>
            </ul>
        </li>
    </ul>
</div>

@functions
{
    void TreeView(IEnumerable<TreeviewUtils.AlbumFolder> albumsFolders)
    {
        @foreach (var albumFolder in albumsFolders)
        {   
            @if (albumFolder.IsLeaf)
            {
                <ul>
                    <li>
                        <span class="leaf" id="@albumFolder.Id">@albumFolder.Header</span>
                    </li>
                </ul>
            }
            else
            {
                <ul>
                    <li>
                        <span><i class="fa fa-folder-open"></i>@albumFolder.Header</span>
                        @{ TreeView(albumFolder.Children);}
                    </li>
                </ul>
            }
        }
    }
}
